@model AdminIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}


<div id="layoutSidenav_content" style="margin-top:25px;">
    <main>
        <div class="container-fluid">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Apžvalga</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-light mb-4">
                        <div class="card-body text-center"><span class="display-4">@Model.Users.Count()</span> Vartotojų</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small stretched-link"  >@Model.Users.Count(x => x.IsConfirmed) Patvirtinti Vartotojai</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-light mb-4">
                        <div class="card-body text-center"><span class="display-4">@Model.PostsCount</span> Straipsnių</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small stretched-link" asp-controller="Article" asp-action="AdminList" >Plačiau</a>
                            <div class="small"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-light mb-4">
                        <div class="card-body text-center"><span class="display-4">@Model.EventsCount</span> Renginių</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small stretched-link" asp-controller="Event" asp-action="AdminList" >Plačiau</a>
                            <div class="small"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-light mb-4">
                        <div class="card-body text-center"><span class="display-4">@Model.TeamMembersCount</span> Komandos nariai</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small stretched-link" asp-controller="TeamMember" asp-action="AdminList">Plačiau</a>
                            <div class="small"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            @if (TempData.ContainsKey("message"))
            {
                <partial name="_AlertBoxPartial" model="@TempData["message"].ToString()" />
            }

        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="dropdown">
                        <i class="fas fa-table mr-1"></i>Svetainės Vartotojai
                        <button class="btn btn-outline-primary dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"
                                style="margin-left: 10px;">
                            Naudotojų Eksportas
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-action="ExportUsersViaExcel" asp-route-onlyConfirmedUsers="true" asp-controller="Admin">Patvirtinti</a>
                            <a class="dropdown-item" asp-action="ExportUsersViaExcel" asp-route-onlyConfirmedUsers="false" asp-controller="Admin">Visi</a>
                        </div>
                    </div>
                    <div class="ml-2">
                        <a class="btn btn-outline-primary text-black-50" asp-controller="Admin" asp-action="ChangeUserRoles">
                            Keisti naudotojų roles
                        </a>
                    </div>
                </div>
                
                  
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Vardas</th>
                                <th>Pavardė</th>
                                <th>El. Paštas</th>
                                <th>Pareigos</th>
                                <th>Ar Patvirtintas</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Vardas</th>
                                <th>Pavardė</th>
                                <th>El. Paštas</th>
                                <th>Pareigos</th>
                                <th>Ar Patvirtintas</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>@user.Name</td>
                                    <td>@user.Surname</td>
                                    <td>@user.Email</td>
                                    <td>@user.Occupation.Name</td>
                                    <td>
                                        @if (user.IsConfirmed == true)
                                        {
                                            <p>Patvirtintas</p>
                                        }
                                        else if (user.IsConfirmed == false)
                                        {
                                            <form asp-action="ConfirmUser" asp-controller="Admin" asp-route-userId="@user.Id" method="post">
                                                <input class="btn btn-outline-primary text-black-50" type="submit" value="Patvirtinti" />
                                            </form>
                                        }
                                    </td>
                                    <td>
                                        <form asp-action="DeleteUser" asp-controller="Admin" asp-route-userId="@user.Id" method="post">
                                            <input class="btn btn-outline-primary text-black-50" type="submit" value="Ištrinti" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </main>

</div>




