@model IEnumerable<Post>
@{
    ViewData["Title"] = "Renginių Sąrašas";
    Layout = "_AdminLayout";
}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">

            @if (TempData.ContainsKey("message"))
            {
                <partial name="_AlertBoxPartial" model="@TempData["message"].ToString()" />
            }

            <div class="card mb-4">
                <h3>Būsimi Renginiai:</h3>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Pavadinimas</th>
                                    <th>Paskutinį Kartą Redagavo</th>
                                    <th>Paskutinį Kartą Redaguotas</th>
                                    <th>Autorius</th>
                                    <th>Paskelbta</th>
                                    <th>Redaguoti</th>
                                    <th>Ištrinti</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var post in Model)
                                {
                                    @if (post.Date > DateTime.Now)
                                    {
                                        <tr>
                                            <td>@post.Title</td>
                                            <td>@post.UpdatedBy</td>
                                            <td>@post.UpdatedOn</td>
                                            <td>@post.CreatedBy</td>
                                            <td>@post.CreatedOn</td>
                                            <td>
                                                <a class="btn btn-warning text-white"
                                                   asp-action="EditEvent" asp-route-id="@post.Id">Redaguoti</a>
                                            </td>
                                            <td>
                                                <form method="post" asp-action="DeleteEvent" asp-route-id="@post.Id">
                                                    <input type="submit" class="btn btn-danger text-white"
                                                           value="Ištrinti" />
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <h3>Praėję Renginiai:</h3>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Pavadinimas</th>
                                    <th>Paskutinį Kartą Redagavo</th>
                                    <th>Paskutinį Kartą Redaguotas</th>
                                    <th>Autorius</th>
                                    <th>Paskelbta</th>
                                    <th>Redaguoti</th>
                                    <th>Ištrinti</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var post in Model)
                                {
                                    @if (post.Date < DateTime.Now)
                                    {
                                        <tr>
                                            <td>@post.Title</td>
                                            <td>@post.UpdatedBy</td>
                                            <td>@post.UpdatedOn</td>
                                            <td>@post.CreatedBy</td>
                                            <td>@post.CreatedOn</td>
                                            <td>
                                                <a class="btn btn-warning text-white"
                                                   asp-action="EditEvent" asp-route-id="@post.Id">Redaguoti</a>
                                            </td>
                                            <td>
                                                <form method="post" asp-action="DeleteEvent" asp-route-id="@post.Id">
                                                    <input type="submit" class="btn btn-danger text-white" style="border-radius:25px;"
                                                           value="Ištrinti" />
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </main>

</div>

