@model IEnumerable<Post>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-features" style="padding-top:30px;">
    <div class="flex-row">

        <div class="empty-item-1"></div>
        <div class="main-item-3">


            <h2 class="header-underline" style="font-size:2em;">Naujausi Įrašai</h2>
            @foreach (var post in Model)
            {
                if (post.isForAuthenticatedUser == false)
                {
                    var item = post.Body.Length <= 500 ? post.Body : post.Body.Substring(0, 500) + "...";

                    <div class="index-post post" onmouseover="highlightPost(this)" onmouseout="removeHighlight(this)">
                        <h2>@post.Title</h2>
                        <div>
                            <p>
                                <span class="post-person"><ion-icon name="person-circle-outline"></ion-icon>@post.CreatedBy</span>
                                <span class="post-date"><ion-icon name="calendar-outline"></ion-icon>@post.CreatedOn.ToString("yyyy-MM-dd HH:mm")</span>
                            </p>
                        </div>
                        <div class="clear" style="margin-bottom:5px;"></div>
                        <p class="post-body">@item</p>
                        <a class="btn btn-ghost post-btn" asp-action="Get" asp-controller="Article" asp-route-id="@post.Id">Daugiau</a>
                    </div>
                }
            }


        </div>
        <div class="empty-item-3"></div>


    </div>
</section>






